<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragments :: html-head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
<div th:replace="fragments/fragments :: header"></div><hr>

<div class="demo">
    <div class="demo form-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form class="form-horizontal" action="/member/modify" method="get">
                        <div class="form-content">
                            <h4 class="heading">Your Details</h4>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-user"></i>
                                        ID</label>
                                    <input type="text" class="form-control" id="memberId"
                                           name="username" th:value="${memberInfo.username}"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-envelope-o"></i>
                                        이메일</label>
                                    <input type="text" class="form-control"
                                           name="email" th:value="${memberInfo.email}"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-calendar"></i>
                                        생년월일</label>
                                    <input type="text" class="form-control"
                                           name="birth" th:value="${memberInfo.birth}"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-user"></i>
                                        한글이름</label>
                                    <input type="text" class="form-control"
                                           name="nameKor" th:value="${memberInfo.nameKor}"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-user"></i>
                                        영문이름</label>
                                    <input type="text" class="form-control"
                                           name="nameEng" th:value="${memberInfo.nameEng}"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-lock"></i>
                                         Phone</label>
                                    <input type="text" class="form-control"
                                           name="phone" th:value="${memberInfo.phone}"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-user"></i>
                                        성별</label>
                                    <input type="text" class="form-control"
                                           name="gender" th:value="${memberInfo.gender}"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-user"></i>
                                        가입일자</label>
                                    <input type="text" class="form-control"
                                           name="regDate" th:value="${memberInfo.regDate}"/>
                                </div>
                            </div>
                        <div align="center">
                            <input type="button" href="/" value="홈으로" class="btn btn-primary">
                            <input type="submit" value="수정하기" class="btn btn-primary">
                            <input type="button" value="탈퇴하기" class="btn btn-primary"
                                   data-toggle="modal" data-target="#myModal">
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal 제목</h4>
            </div>
            <div class="modal-body" style="color: #545b62">
                정말 minair를 탈퇴 하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="notDelete" data-dismiss="modal"
                        style="color: #545b62">뒤로가기</button>
                <button type="button" class="leave" data-dismiss="modal"
                        style="color: #545b62">탈퇴</button>
            </div>
        </div>
    </div></div>

<form action="/member/delete" method="post" class="memberDeleteForm">
    <input type="hidden" name="username" class="deleteParam" value="">
</form>

<footer th:replace="fragments/fragments :: footer"></footer>

<script>
    $(document).ready(function () {
        var presentUser = loginStatus().status;
        console.log(presentUser)

        if (presentUser === false) {
            alert("로그인후 이용해 주세요!!")
            $(location).attr('href', "/loginForm2");
        }
    });

    $('.leave').on('click',function () {
        var username = $('#memberId').val();
        console.log(username)
        $('.deleteParam').val(username)
        var result = null
        var accessToken = localStorage.getItem("Authorization")

        $.ajax({
            method : "delete",
            url : "/api/member/"+username,
            beforeSend: function (xhr){
                xhr.setRequestHeader("Authorization",accessToken);
            },
            async : false,
            statusCode : {
                200: function (response) {
                    result = response
                },
                403: function (response) {
                    alert("로그인 에러 입니다! 새로고침후 다시 시도해 주세요")
                }
            }
        })

        console.log(result)
        if (!result){
            alert("탈퇴가 완료 되었습니다. 이용해주셔서 감사합니다. :)")
            //$(location).attr("/")
        } else {
            alert("탈퇴전 탑승예정인 예약을 취소 해주세요.")
        }

        //$('.memberDeleteForm').submit()
    })

</script>
</body>
</html>


