<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragments :: html-head">
</head>
<body>
<div th:replace="fragments/fragments :: header"></div>
<div align="center"><h2>* 회원 목록 *</h2></div>
<table class="table table-bordered"
       style="background-color: #7cc67c">
    <thead style="background-color: #f0ad4e">
    <tr>
        <th>회원코드</th>
        <th>회원ID</th>
        <th>Email</th>
        <th>이름</th>
        <th>번호</th>
        <th>상세정보</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${memberList}">
        <td style="color: #0b0b0b" th:text="${member?.id}"/></td>
        <td th:text="${member?.username}"></td>
        <td th:text="${member?.email}"></td>
        <td th:text="${member?.name_kor}"></td>
        <td th:text="${member?.phone}"></td>
        <td><button class="btn-facebook" id="memberInfo" style="color: #0b0b0b">상세정보</button></td>
    </tr>
    </tbody>
</table><br/>

<nav aria-label="Page navigation example ">
    <ul class="pagination">
        <li class="page-item" th:if="${pageMaker.prev} == true">
            <a class="pagePrevBtn" aria-label="Previous" href="#">
                <span aria-hidden="true">이전</span>
            </a>
        </li>

        <th:block  th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}">
            <li class="page-item"
                th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}"
                th:each="pageButton : ${#numbers.sequence(start, end)}"
                th:class="${pageMaker.offset == pageButton ? 'active': ''}">
                <a class="pageBtn" href="#" th:text=${pageButton}></a>
            </li>
        </th:block>
        <li class="page-item " th:if="${pageMaker.next} == true">
            <a class="pageNextBtn" aria-label="Next" href="#">
                <span aria-hidden="true">다음</span>
            </a>
        </li>
    </ul>
</nav><br>

<footer th:replace="fragments/fragments :: footer"></footer>

<script>

    $('.pageBtn').on('click',function (e) {
        var pageNum = $(this).text();
        console.log(pageNum);
        $('.pageNum').val(pageNum);
        console.log($('.pageNum').val());
        $('.pageUsername').val(localStorage.getItem("memberId"));
        console.log($('.pageUsername').val());
        $('.basicInfo').submit();
    });

    $('.pageNextBtn').on('click',function (e) {
        console.log("다음버튼 클릭")
        /*<![CDATA[*/

        var endPage = /*[[${pageMaker.getEndPage()}]]*/
            console.log("endPage = "+endPage);
        /*]]>*/
        $('.pageNum').val(endPage + 1);
        $('.basicInfo').submit();
    });

    $('.pagePrevBtn').on('click',function (e) {
        console.log("이전버튼 클릭")
        /*<![CDATA[*/

        var startPage = /*[[${pageMaker.getStartPage()}]]*/
            console.log("startPage = "+startPage);
        /*]]>*/

        $('.pageNum').val(startPage - 1);
        $('.basicInfo').submit();

    });
</script>
</body>
</html>