<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragments :: html-head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
<div th:replace="fragments/fragments :: header"></div><hr>

<div class="demo">
    <div class="demo form-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form class="form-horizontal" action="/member/modify" method="post">
                        <div class="form-content">
                            <h4 class="heading">Your Details</h4>
                            <h6 class="heading">* 생년월일은 'yyyy-mm-dd' 양식을 지켜서 작성해주세요 *</h6>
                            <div class="form-group">
                                <input type="hidden" class="form-control"
                                       name="username" th:value="${memberInfoDto.username}"/>
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-envelope-o"></i>
                                        이메일</label>
                                    <input type="text" class="form-control"
                                           name="email" th:value="${memberInfoDto.email}"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-calendar"></i>
                                        생년월일</label>
                                    <input type="text" class="form-control"
                                           name="birth" th:value="${memberInfoDto.birth}"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-user"></i>
                                        한글이름</label>
                                    <input type="text" class="form-control"
                                           name="name_kor" th:value="${memberInfoDto.nameKor}"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-user"></i>
                                        영문이름</label>
                                    <input type="text" class="form-control"
                                           name="name_eng" th:value="${memberInfoDto.nameEng}"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-lock"></i>
                                        Phone</label>
                                    <input type="text" class="form-control"
                                           name="phone" th:value="${memberInfoDto.phone}"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" style="color: #0b0b0b"><i class="fa fa-user"></i>
                                        성별</label>
                                    <input type="text" class="form-control"
                                           name="gender" th:value="${memberInfoDto.gender}"/>
                                </div>
                            </div>
                            <div align="center">
                                <input type="button" href="/" value="홈으로" class="btn btn-primary">
                                <input type="submit" value="수정하기" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<footer th:replace="fragments/fragments :: footer"></footer>

<script>
    $(document).ready(function () {
        var presentUser = loginStatus().status;
        console.log(presentUser)

        if (presentUser === false) {
            alert("로그인후 이용해 주세요!!")
            $(location).attr('href', "/loginForm2");
        }
        loginStatus();
        console.log("index test="+tokenCheck().result)

        if (tokenCheck().result){
            $('.login').hide();
            $('.join').hide();
        } else {
            $('.user').hide();
            $('.logout').hide();
        }
    });

</script>
</body>
</html>


