<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragments :: html-head">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet2">
    <link href="/resources/css/modern-business.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/fragments :: header"></div>
<!--<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/bg1.jpg);">
    -->
    <hr size="10px" style="border:solid 3px #0b0b0b">
    <div><h3 id="fh5co-logo" style="color: #0b0b0b">가는편</h3></div>
        <table class="table table-bordered"
               style="background-color: #7cc67c">
            <thead style="background-color: #f0ad4e">
            <tr>
                <th>선택</th>
                <th>항공코드</th>
                <th>출발지</th>
                <th>도착지</th>
                <th>출발일</th>
                <th>출발시간</th>
                <th>도착시간</th>
                <th>잔여좌석</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="airline : ${goAirlineList.getAirlineResult}">
                <td><input type="radio" name="goSelect" class="goSelected"></td>
                <td style="color: #0b0b0b" th:text="${airline?.id}"/></td>
                <td th:text="${airline?.departure}"></td>
                <td th:text="${airline?.distination}"></td>
                <td th:text="${airline?.depart_date}"></td>
                <td th:text="${airline?.depart_time}"></td>
                <td th:text="${airline?.reach_time}"></td>
                <td th:text="${airline?.aboveseat}"></td>
            </tr>
            </tbody>
        </table><br/>

        <hr size="10px" style="border:solid 3px #0b0b0b">

    <div><h6 id="fh5co-logo" style="color: #0b0b0b">오는편</h6></div>

    <table class="table table-bordered "
           style="background-color: #7cc67c">
        <thead style="background-color: #f0ad4e">
        <tr>
            <th>선택</th>
            <th>항공코드</th>
            <th>출발지</th>
            <th>도착지</th>
            <th>출발일</th>
            <th>출발시간</th>
            <th>도착시간</th>
            <th>잔여좌석</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="airline : ${backAirlineList.getAirlineResult}">
            <td><input type="radio" name="backSelect" class="backSelected"></td>
            <td style="color: #0b0b0b" th:text="${airline?.id}"/></td>
            <td th:text="${airline?.departure}"></td>
            <td th:text="${airline?.distination}"></td>
            <td th:text="${airline?.depart_date}"></td>
            <td th:text="${airline?.depart_time}"></td>
            <td th:text="${airline?.reach_time}"></td>
            <td th:text="${airline?.aboveseat}"></td>
        </tr>
        </tbody>
    </table><br/>

    <hr size="5px" style="border:solid 3px #0b0b0b">

<div class="modal fade" id="modal" role="dialog" aria-labelledby="introHeader"
     aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">공지 사항</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center">
    <b style="color: #0b0b0b">성인:</b>
    <span style="color: #0b0b0b" th:text="${searchInfo?.adult}" class="adult"></span><br/>
    <b style="color: #0b0b0b">아이:</b>
    <span style="color: #0b0b0b" th:text="${searchInfo?.child}" class="child"></span><br/>
    <b style="color: #0b0b0b">총 인원:</b>
    <span style="color: #0b0b0b" th:text="${searchInfo?.getTotalPerson}" class="totalPerson"></span><br/>
    <b style="color: #0d6aad">총 가격:</b>
    <span style="color: #0d6aad" class="viewTotalPrice"></span><br/>
</div>

<b style="color: red">▷ 항공권의 운임 및 잔여 좌석수는 실시간 변동될 수 있습니다.</b><br>
<b style="color: red">▷ 항공권 가격은 기본적으로 성인(만 18세 이상): 50000원 || 아동(만 12세 이상):
    30000원 입니다.</b><br>
<b style="color: red">▷ 해당 항공 스케줄은 정부인가 조건에 따라 예고없이 변경될 수 있습니다.</b><br>
<div>
    <br>
    <pre>
▣ 유의사항
☞ 이용안내 유류할증료와 공항시설사용료 및 기타수수료는 환율 및 발권일에 따라 변동될 수 있습니다.
☞ 공항시설사용료 및 각종 세금은 노선에 따라 별도 부과될 수 있습니다.
☞ 소아·유아 운임은 홈페이지 - 서비스 안내 - 항공권서비스 - 국제선 운임/국내선 운임 에서 확인하실 수 있습니다.
☞ 무료 기내휴대수하물 허용량은 7kg이며, 자세한 사항은 홈페이지 서비스안내-공항서비스-수하물서비스 에서 확인하실 수 있습니다.
☞ 왕복 항공권 구매 후 여정변경 시 가는 날이 오는 날보다 먼저 이어야 합니다.
☞ 타 항공사로 환승하실 경우, 해당 공항에서 위탁수하물을 수취한 후 다시 출입국 수속을 진행하여 주시기 바랍니다.
</pre>
</div><br/>
<div>
    <div style="text-align: center">
        <form action="/reservation/complete" method="post" class="subForm">
            <input type="hidden" name="goAirId" class="goAirId">
            <input type="hidden" name="backAirId" class="backAirId">
            <input type="hidden" name="username" class="username">
            <input type="hidden" name="adultCount" class="adultCount">
            <input type="hidden" name="childCount" class="childCount">
            <input type="hidden" name="totalPerson" class="totalPerson">
            <input type="hidden" name="totalPrice" class="totalPrice">

            <button type="button" href="/" class="btn btn-primary">이전</button>
            <button type="button" href="/" class="btn btn-primary" id="portBtn">결제테스트</button>
            <button type="submit" id="subBtn" class="btn btn-primary">예약하기</button>
        </form>
    </div>
</div><br/>
<footer th:replace="fragments/fragments :: footer"></footer>

<script src="../resources/static/js/codemodul/common.js"
        th:src="@{/js/codemodul/common.js}"></script>
<script src="../resources/static/js/codemodul/userFunc.js"
        th:src="@{/js/codemodul/userFunc.js}"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
    //$('#portBtn').on('click');

    $(document).ready(function () {
        loginStatus();
        console.log("index test="+tokenCheck().result)
        if (tokenCheck().result){
            $('.login').hide();
            $('.join').hide();
        } else {
            $('.user').hide();
            $('.logout').hide();
        }
    })
    var adult = $('.adult').text();
    var child = $('.child').text();
    var totalPerson = $('.totalPerson').text();
    var personPrice = (50000*adult)+(30000*child);
    var plus = 0;
    let totalPrice ;
    let goFirstCheck = true;
    let backFirstCheck = true;

    var goAirid;
    $('.goSelected').on('click',function () {
        var tr = $(this).parent().parent();
        var td = tr.children();

        goAirid = td.eq(1).text();
        var departure = td.eq(2).text();
        var distination = td.eq(3).text();
        var departure_date = td.eq(4).text();

        console.log(goAirid);

        $('.goAirId').val(goAirid);

        if (goFirstCheck){
            console.log("실행됨")
            plus += personPrice
            goFirstCheck = false;
            totalPrice = $('.viewTotalPrice').text(plus);
        } else {
            console.log("최초 선택이 아님.")
        }
        console.log(totalPrice);
    });

    var backAirId ;
    $('.backSelected').on('click',function () {
        var tr = $(this).parent().parent();
        var td = tr.children();

        backAirId = td.eq(1).text();
        var departure = td.eq(2).text();
        var distination = td.eq(3).text();
        var departure_date = td.eq(4).text();
        var departure_time = td.eq(5).text();
        var reach_time = td.eq(6).text();
        var above_seat = td.eq(7).text();

        console.log(backAirId);

        $('.backAirId').val(backAirId);

        if (backFirstCheck){
            console.log("실행됨");
            plus += personPrice;
            backFirstCheck = false;
            totalPrice = $('.viewTotalPrice').text(plus);
        } else {
            console.log("최초 선택이 아님.");
        }
    });//총 가격을 가는편 오는편 선택시 실시간으로 늘어나게 하는 로직임. 전역 변수인 totalPrice,plus,personPrice
    //등등 많이 활용함. 클릭되면 totalPrice의 값이 갱신되야 함으로 클릭이벤트 함수에 +=형태로 연산해줌.

    $('#subBtn').on('click',function (e) {
        e.preventDefault()
        var loginPresent = loginStatus().status

        if (loginPresent === false){
            alert("로그인후 이용해 주세요!!")
            $(location).attr('href',"/loginForm2");
        } else {
            if (tokenCheck().result) {
                var username = localStorage.getItem("memberId");
                var AToken = localStorage.getItem("Authorization");
                $('.username').val(localStorage.getItem("memberId"));
                $('.adultCount').val(adult);
                $('.childCount').val(child);
                $('.totalPerson').val(totalPerson);
                var tt = $('.viewTotalPrice').text();
                $('.totalPrice').val(tt);

                var resultMember = findUser(AToken,username).result;

                var userEmail = resultMember.email;
                var userKorName = resultMember.name_kor;
                var userPhone = resultMember.phone;
                pay(userEmail,userKorName,userPhone)

            }
        }
    })

        function pay(email,name,phone){
            //가맹점 식별코드
            IMP.init('imp41586975');
            IMP.request_pay({
                pg : 'html5_inicis',
                pay_method : 'card',
                merchant_uid : 'merchant_' + new Date().getTime(),
                name : 'minair 항공권' , //결제창에서 보여질 이름
                amount : 100, //실제 결제되는 가격
                buyer_email : 'iamport@siot.do',
                buyer_name : '구매자이름',
                buyer_tel : '010-1234-5678',
                buyer_addr : '대한민국 서울시',
                buyer_postcode : '123-456'
            }, function(rsp) {
                console.log(rsp);
                if ( rsp.success ) {
                    var msg = '결제가 완료되었습니다.';
                    msg += '고유ID : ' + rsp.imp_uid;
                    msg += '상점 거래ID : ' + rsp.merchant_uid;
                    msg += '결제 금액 : ' + rsp.paid_amount;
                    msg += '카드 승인번호 : ' + rsp.apply_num;
                    $('.subForm').submit();
                } else {
                    var msg = '결제에 실패하였습니다.';
                    msg += '에러내용 : ' + rsp.error_msg;
                }
                alert(msg);
            });
        }

</script>
</body>
</html>
